* {
  box-sizing: border-box;
}

.container {
  display  : flex;
  flex-wrap: wrap;
  width    : 300px;
  height   : 300px;
}

.prize,
.start {
  width      : 100px;
  height     : 100px;
  line-height: 100px;
  border     : 1px solid pink;
  text-align : center;
}

.start {
  background-color: palevioletred;
  cursor          : pointer;
}

.disabled {
  pointer-events: none;
  opacity       : 0.6;
}