body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
  border-radius: 10px;
  resize       : none;
}

button {
  display      : block;
  margin       : 15px 0;
  border-radius: 10px;
  font-size    : larger;
}
